body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    background-color: #000;
    color: antiquewhite;
}
#fullpage {
    width: 80%;
    margin: auto;
}
.section {
    /*
    border-image-source: linear-gradient(#6C5B7B, #C06C84,#355C7D);
    border-image-source: linear-gradient(to right ,#237A57, #093028, #237A57);
    border-image-source: linear-gradient(#c31432, #240b36,#c31432);*/
    width: 100%;
}
.section::before {
    border-image-slice: 10;
}
.section h1 {
    display: inline;
    text-decoration: underline;
}
#profile-name {
    font-size: 6em;
    text-align: center;
}
#profile-name .name {
    position: relative;
    margin: 50px;
    padding: 50px;
}
#profile-name .name-device {
    display: none;
}
#profile-name .name-device p {
    display: inline;
    animation: name 3s 1s forwards;
}
#profile-name p {
    opacity: 0;
    animation: name 3s 2s forwards;
}
@keyframes name {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#profile-name .name::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    width: 0%;
    height: 0%;
    border: 10px solid;
    animation: profile-name 2s forwards, colorchange 8s infinite;
    -webkit-animation: profile-name 2s forwards, colorchange 8s infinite;
    -moz-animation: profile-name 2s forwards, colorchange 8s infinite;
}
#profile-name .name::after {
    content: '';
    position: absolute;
    z-index: -1;
    right: 5px;
    bottom: 5px;
    width: 0%;
    height: 0%;
    border: 10px solid;
    animation: profile-name 2s forwards, colorchange 8s infinite;
    -webkit-animation: profile-name 2s forwards, colorchange 8s infinite;
    -moz-animation: profile-name 2s forwards, colorchange 8s infinite;
}
@keyframes profile-name {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@-webkit-keyframes profile-name {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@-webkit-keyframes profile-name {
    0% {
        width: 0%;
        height: 0%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
#profile-img .img-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#profile-img img {
    max-width: 100%;
}
#profile-img .fp-tableCell img#profile1,
#profile-img .fp-tableCell img#profile2,
#profile-img .fp-tableCell img#profile3 {
    transform: translateY(-1000px);
    opacity: 0;
	transition: transform .75s cubic-bezier(0.16, 0.68, 0.43, 0.99),
                opacity .75s ease-in-out;
}
#profile-img.active .fp-tableCell img#profile1,
#profile-img.active .fp-tableCell img#profile2,
#profile-img.active .fp-tableCell img#profile3 {
	transform: translateY(0);
    opacity: 1;
    filter: grayscale(50%) brightness(150%) saturate(150%) contrast(1.5);
    -webkit-filter: grayscale(50%) brightness(150%) saturate(150%) contrast(1.5);
}
#profile-img.active .fp-tableCell img#profile2 {
    transition-delay: .25s;
}
#profile-img.active .fp-tableCell img#profile3 {
    transition-delay: .50s;
}
.box {
    padding: 50px;
    margin: auto;
    border: 10px solid;
    animation: colorchange 8s infinite;
    -webkit-animation: colorchange 8s infinite;
    -moz-animation: colorchange 8s infinite;
}
@keyframes colorchange {
    0%   {border-color: #6C5B7B;}
    33%  {border-color: #C06C84;}
    66%  {border-color: #355C7D;}
    100%  {border-color: #6C5B7B;}
}
@-webkit-keyframes colorchange {
    0%   {border-color: #6C5B7B;}
    33%  {border-color: #C06C84;}
    66%  {border-color: #355C7D;}
    100%  {border-color: #6C5B7B;}
}
@-moz-keyframes colorchange {
    0%   {border-color: #6C5B7B;}
    33%  {border-color: #C06C84;}
    66%  {border-color: #355C7D;}
    100%  {border-color: #6C5B7B;}
}
#bio .fp-tableCell h1,
#bio .fp-tableCell blockquote,
#exp .experience h1,
#exp .experience ul li,
#exp .skills h1,
#exp .skills ul li,
#portfolio .fp-tableCell h1,
#portfolio .fp-tableCell address {
	opacity: 0;
	transition: opacity 3s ease-in-out;
}
#portfolio .projects a img#zcc,
#portfolio .projects a img#ktpan,
#portfolio .projects a img#pilab,
#portfolio .projects a img#fylo {
    opacity: 0;
	transition: opacity 1s;
}

#bio.active .fp-tableCell h1,
#bio.active .fp-tableCell blockquote,
#exp.active .experience h1,
#exp.active .experience ul li,
#exp.active .skills h1,
#exp.active .skills ul li,
#portfolio.active .fp-tableCell h1,
#portfolio.active .projects a img#zcc,
#portfolio.active .projects a img#ktpan,
#portfolio.active .projects a img#pilab,
#portfolio.active .projects a img#fylo,
#portfolio.active .fp-tableCell address {
	opacity: 1;
}
#exp.active .skills h1,
#exp.active .skills ul li,
#portfolio.active .projects a img#fylo {
    transition-delay: 1s;
}
#portfolio.active .projects a img#pilab {
    transition-delay: 2s;
}
#portfolio.active .projects a img#ktpan {
    transition-delay: 3s;
}
#portfolio.active .projects a img#zcc {
    transition-delay: 4s;
}
.exp-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exp-box .experience, .exp-box .skills {
    flex-grow: 1;
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
    width: 100%;
    margin-top: 20px;
}
.projects a {
    margin: auto 15px;
}
.projects a img {
    width: 100%;
}
@media all and (min-width: 768px) and (max-width: 992px) {
    #profile-name .name-device {
        font-size: 50px;
    }
}
@media all and (max-width: 767px) {
    body {
        margin: 20px auto;
        font-size: 14px;
    }
    .box {
        max-height: 568px;
        padding: 10px;
        border: 5px solid;
    }
    #profile-name .name {
        display: none;
    }
    #profile-name .name-device {
        display: block;
        font-size: 35px;
    }
    .exp-box {
        flex-direction: column;
    }
    .exp-box .skills {
        display: flex;
        flex-direction: row;
    }
}
address {
    text-align: right;
    padding-top: 15px;
}
a {
    color: aquamarine;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
